/*NAV*/
button{
background-color: #f975ac !important;
font-family: Verdana !important;
margin-left: 15px;
}
nav{
    background-color: black !important;
}
#logo{
    padding: 0.5rem;
    margin: 1px;
}
i{
   font-size: 25px;
   margin-right: 0.5rem;
}
/*FOOTER*/
footer {
    background-color: #000000;
    padding: 2px 0;
    color: #949494;
    bottom: 0;
    position: absolute;
    width: 100%;
  }
  
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#ccc;   
}
  
.logo img {
    max-width: 45%;
}
.social-media{
    color: #f975ac;
} 
.social-media a {
    margin-left: 10px;
    color: #6e6e6e;
    font-size: 18px;
}
.social-media a:first-child {
  margin-left: 0;
}

body {
    background: linear-gradient(to right, #ff7cbd 0%, #fda1e2 40%, #ff63dd 60%, #fda1e2 83%, #ff7cbd 100%);
    background-size: 10000px 100%;
    animation: bg 15s linear infinite;
  }
  
  @keyframes bg {
    0% {
      background-position-x: 0;
    }
    100% {
      background-position-x: 10000px;
    }
  }